@import '../../../App';
.input-container {
    display: block;
    text-align: center;
    position: relative;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-container.dropdown-search {
}

.input-container-inner {
    position: relative;
}

.date-picker {
    width: 100%;
    background-color: transparent;
    border: 5px;
    border-color: #ff0000;
}

.password-checkbox {
    position: absolute;
    right: 5px;
    top: 35%;
}

.checkbox-label {
    &:before {
        content: 'Show/Hide password';
        font-size: 0.8rem;
        opacity: 0;
        position: absolute;
        border: 1px solid black;
        top: 50%;
        right: 5px;
        border-radius: 3px;
        padding: 3px;
        @include transition(opacity 1s, top 0.7s 0.3s);
    }
    &:hover:before {
        opacity: 1;
        top: 5px;
        @include transition(top 1s, opacity 0.8s 0.3s);
    }
}

.field-label {
    float: left;
    padding-left: 2px;
    padding-bottom: 2px;
    width: 100%;
    text-align: left;
    font-size: 0.75em;
    color: darkgrey;
    &.selected {
        color: lightblue;
    }
}

.switch-selector {
    display: flex;
    justify-content: space-between;
    color: gray;

    & > label {
        padding-left: 2px;
        padding-bottom: 2px;
        display: flex;
        align-items: center;
    }
}