@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.action-blocker {
    position: fixed;
    left: 0px;
    width: 0;
    height: 100vh;
    z-index: 99998;
    background-color: lightgrey;
    opacity: 0;
    @include transition( opacity 0.4s 0.1s ease-in-out);
    &.visible {
        width: 100vw;
        display: block;
        opacity: 0.3;
    }
}