@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.action-blocker {
    @include transition( opacity 0.4s 0.1s ease-in-out);

    opacity: 0;
    background-color: transparent;

    &.visible {
        opacity: 0.2;
        background-color: lightgray;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
    }
}