.App {
    text-align: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: "nav main" / 75px auto;
}

.side-bar {
    grid-area: nav;
}

.main-container {
    grid-area: main;
    display: block;
    width: 100%;
}

input:focus,
input:active {
    outline: none;
}